p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  width: 480px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.container .content {
  width: 480px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #212121;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 15px;
  margin: 0 auto;
  border: 1px solid #ECECEC;
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 26px;
    padding-top: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.title-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin-right: 93px;
}

@media screen and (min-width: 320px) {
  .header-connect {
    display: none;
  }
  .pages-list {
    display: none;
  }
}

.studio-title-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}

.page-item {
  align-items: center;
  display: flex;
}

.page-item + .page-item {
  margin-left: 50px;
}

.navigation {
  display: flex;
}

.link-page {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms linear;
}

.link-page:hover, .link-page:focus {
  color: #2196f3;
}

.link-page.current {
  color: #2196f3;
}

.contact-header-link {
  margin-left: 30px;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  text-align: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.contact-header-link:focus, .contact-header-link:hover {
  color: #2196f3;
}

.contact-header-link:focus,
.contact-header-link:hover {
  fill: #2196f3;
}

.icon-header-tel {
  align-items: center;
  fill: currentColor;
  margin-right: 10px;
}

.icon-header-mail {
  align-items: center;
  fill: currentColor;
  margin-right: 10px;
}

.btn-mobile {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  z-index: 99;
}

.btn-mobile-menu .menu-btn {
  fill: #212121;
  width: 40px;
  height: 40px;
}

.menu-btn-open {
  transform: scale(1);
  opacity: 1;
  transition: opacity 400ms ease , transform 400ms ease;
}

.menu-btn-close {
  opacity: 0;
  transform: scale(0.3);
  transition: opacity 400ms ease , transform 400ms ease;
}

.btn-mobile.is-active .menu-btn-open {
  opacity: 0;
  transform: scale(0.3);
}

.btn-mobile.is-active .menu-btn-close {
  opacity: 1;
  transform: scale(1);
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
  }
  .btn-mobile {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .pages-list {
    display: flex;
    list-style-type: none;
  }
  .header-connect {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    list-style-type: none;
    gap: 10px;
  }
  .header-current {
    position: relative;
    color: #2196f3;
  }
  .header-current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    left: 0;
    bottom: -42px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .container {
    display: flex;
    align-items: center;
  }
  .header-connect {
    gap: 30px;
    flex-direction: row;
  }
  .icon-header-tel {
    width: 10px;
    height: 16px;
  }
  .icon-header-mail {
    width: 16px;
    height: 12px;
  }
  .header-current {
    position: relative;
    color: #2196f3;
  }
  .header-current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    left: 0;
    bottom: -32px;
  }
}

.hero {
  margin: 0 auto;
  display: flex;
  background: #2f303a;
  width: 480px;
  height: 400px;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}
@media screen  and (max-width:767px) {
.hero{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgindex/hero-mobile.png");
}
}



@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgindex/hero-table.png");
    width: 768px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgindex/hero-desk.png");
    width: 1600px;
    height: 600px;
  }
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  background: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.section-text-hidden {
  display: none;
}

.features-list {
  list-style-type: none;
}

.features-icon-list {
  list-style-type: none;
  justify-content: center;
}

.features-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-project {
  padding-top: 94px;
  
}
@media screen and (max-width: 1199px) {
  .hero-project{
    display: none;
  }
  
}



.project-text {
  
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.img-item + .img-item {
  margin-left: 30px;
}

.list-img {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.team-section {
  background: #F5F4FA;
}

.team {
  font-family: "Roboto", sans-serif;
  vertical-align: top;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.team-main {
  background: #f5f4fa;
}

.worker-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  background: #FFFFFF;
}

@media screen and (min-width: 480px) {
  .worker-item {
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1200px){
  .worker-list{
    flex-direction: row;
  }
}


.woker-socials-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.worker-socials-item + .worker-socials-item {
  margin-left: 10px;
}

.worker-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms linear;
}

.worker-socials-link:hover, .worker-socials-link:focus {
  background-color: #2196F3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.worker-socials-link:hover
.worker-socials-icon {
  fill: white;
}

.worker-socials-link:focus
.worker-socials-icon {
  fill: white;
}



.worker-socials-icon {
  fill: #AFB1B8;
  transition: fill 250ms linear;
}

.worker-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

@media screen and (max-width: 767px){
  .worker-item:not(:last-child) {
    margin-bottom: 30px;
  }

}
  

  


.worker-description {
  padding: 30px 32px;
}

.worker-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.position-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}

.clients-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-item {
  list-style-type: none;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-icon {
  fill: #AFB1B8;
  transition: fill 250ms linear;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: color, border-color 250ms linear;
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}

.clients-link:hover .clients-icon {
  fill: #2196f3;
}

.clients-link:focus .clients-icon {
  fill: #2196f3;
}

.head-line {
  border: 1px solid #ECECEC;
}

.btn-filter {
  display: flex;
  list-style-type: none;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-item + .btn-item {
  margin-left: 8px;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.btn-portfolio {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  transition: background-color 250ms linear;
}

.btn-portfolio.current {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn-portfolio:focus, .btn-portfolio:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.definition {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
  font-weight: normal;
}

.progect-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-top-text {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-card {
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-card:focus .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item {
  width: 370px;
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}

.progect-description {
  border: 1px solid #EEEEEE;
  border-top: 0;
  padding: 20px 24px;
  list-style-type: none;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 250ms;
  padding: 40px;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms linear;
}

.modal-input:focus + .modal-input-icon {
  fill: #2196f3;
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid #2196F3;
}

.modal-label {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-input-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-link {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding-left: 5px;
}

.modal-check-text {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  align-items: center;
}

.modal-check-text span {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.modal-input-wrap {
  position: relative;
}

.modal-check-select:focus + .modal-check-text > span {
  transition: border-color 250ms linear;
  outline: none;
  border-color: #2196f3;
}

.modal-check-select:checked + .modal-check-text > span {
  background-color: #2196f3;
  border: none;
}

.modal-check-select:checked + .modal-check-text svg {
  fill: #FFFFFF;
}

.modal-icon {
  fill: #000000;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms linear;
}

.modal-select:focus {
  transition: border-color 250ms linear;
  outline: none;
  border-color: #2196f3;
}

.button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  top: 8px;
  right: 8px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.progect-index {
  display: flex;
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  align-items: center;
  width: 370px;
  height: 70px;
  transform: translateY(-100%);
  justify-content: center;
  position: absolute;
}

.icon-close {
  fill: #212121;
  width: 11px;
  height: 11px;
  align-items: center;
  padding: 9px, 10px;
  transition: fill 250ms linear;
}

.button-close:hover .icon-close {
  fill: #2196f3;
}

.button-close:focus .icon-close {
  fill: #2196f3;
}

.btn-submit {
  display: flex;
  font-family: "Roboto", sans-serif;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  justify-content: center;
  margin: 0 auto;
}

.user-input-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  outline: none;
  padding: 16px 12px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition: border-color 250ms linear;
}

.user-input-text::placeholder {
  color: #757575;
}

.user-input-text:hover, .user-input-text:focus {
  border-color: #2196f3;
}

.icon-checked {
  fill: transparent;
}

.form-field {
  margin-bottom: 10px;
}

.form-field-text {
  margin-bottom: 20px;
}

.form-field-check {
  margin-bottom: 30px;
}

.footer {
  background: #2f303a;
  height: 252px;
  margin: 0 auto;
}

.footer-connect-list {
  list-style-type: none;
}

.footer-contact-item + .footer-contact-item {
  margin-top: 9px;
}

footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

address {
  margin-top: 20px;
}

.title-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  white-space: nowrap;
}

.studio-title-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.map {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms linear;
}

.map:hover, .map:focus {
  color: #2196f3;
}

.contact-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms linear;
}

.contact-footer:hover, .contact-footer:focus {
  color: #2196f3;
}

.footer-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-socials-links {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms linear;
}

.footer-socials-links:hover, .footer-socials-links:focus {
  background: #2196f3;
}

.footer-socials-items:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icons {
  fill: white;
}

.footer-input-container {
  display: flex;
}

.footer-icon-list {
  display: flex;
  list-style-type: none;
}

.container-footer-info {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: baseline;
}

.footer-container-link {
  margin-left: auto;
}

.footer-send-btn {
  fill: #FFFFFF;
  margin-left: 10px;
}

.footer-text {
  display: flex;
  align-items: baseline;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.btn-footer {
  display: flex;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 12px;
  text-align: center;
  align-items: center;
  padding-left: 29px;
}

.footer-input {
  background-color: #2F303A;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-container-social {
  margin-left: auto;
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform 300ms;
  pointer-events: none;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-overlay {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.mobile-overlay.is-open {
  pointer-events: initial;
  visibility: visible;
  transform: translateX(0);
  transition: transform 300ms;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px 48px;
  background: #fff;
  transition: transform 300ms;
}

.mobile-nav-list {
  list-style-type: none;
}

.mobile-nav-link {
  text-decoration: none;
  color: #212121;
  text-decoration: none;
  transition: color 250ms linear;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #2196F3;
}

.mobile-socials {
  font-family: "Roboto", sans-serif;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-top: -10px;
}

.mobile-socials-item {
  margin-right: 10px;
  margin-top: 10px;
}

.mobile-social-link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  padding-right: 10px;
  color: #2196F3;
}

.mobile-socials-item:last-child {
  border: none;
  padding: 0;
}

.mobile-contact-item:first-child {
  margin-bottom: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .mobile-contact-item:first-child {
    font-size: 34px;
  }
}

.mobile-contact-item:last-child {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.current-mobile {
  color: #2196F3;
}

.mobile-contact-link {
  color: #757575;
  text-decoration: none;
  text-decoration: none;
  transition: color 250ms linear;
}

.mobile-contact-link:hover,
.mobile-contact-link:focus {
  color: #2196F3;
}

.mobile-contact-list {
  margin-bottom: 54px;
  list-style-type: none;
}

.mobile-socials {
  list-style-type: none;
}

.mobile-nav-item {
  font-family: "Roboto", sans-serif;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.mobile-social-link {
  text-decoration: none;
}

.mobile-group-info {
  margin-top: auto;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/imgindex/hero-mobile.png");
}
/*# sourceMappingURL=main.css.map */